.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

.photo {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -10
}

.weatherText {
  margin-top: 130px;
  background-color: bisque;

}

.infoText {
  margin-top: 20px;
  background-color: black;
  color: white;

}